<div>
    <select id="options">
        <option value="outputs-p0.5-h0.5">(harmonicity = 0.5, polyphonicity = 0.5)</option>
        <option value="outputs-p0.1-h0.5">(harmonicity = 0.5, polyphonicity = 0.1)</option>
        <option value="outputs-p0.9-h0.5">(harmonicity = 0.5, polyphonicity = 0.9)</option>
        <option value="outputs-p0.5-h0.9">(harmonicity = 0.9, polyphonicity = 0.5)</option>
        <option value="outputs-p0.1-h0.9">(harmonicity = 0.9, polyphonicity = 0.1)</option>
        <option value="outputs-p0.9-h0.9">(harmonicity = 0.9, polyphonicity = 0.9)</option>
        <option value="outputs-p0.5-h0.1">(harmonicity = 0.1, polyphonicity = 0.5)</option>
        <option value="outputs-p0.1-h0.1">(harmonicity = 0.1, polyphonicity = 0.1)</option>
        <option value="outputs-p0.9-h0.1">(harmonicity = 0.1, polyphonicity = 0.9)</option>
    </select>

    <button onclick="show();">Show</button>

    <div id="test_part" hidden="hidden" style="margin-top:20px">
        <div style="text-align:center">
            <p id="audio_name_1" style="text-align:left">Song 1</p>
            <audio id="audio_1" src="audio/ground_truth/015.mp3" type="audio/mpeg" controls controlsList="nodownload">Your browser does not support the audio element.</audio>
            <a id="score_1" href="pdf/ground_truth/015.pdf" target="_blank">Score</a>
            <form id="form_1" style="margin-top:20px">
                <input type="radio" name="predict" value="val">Human
                <input type="radio" name="predict" value="outputs">Machine
            </form>
        </div>
    
        <div style="text-align:center; margin-top:20px">
            <p id="audio_name_2" style="text-align:left">Song 2</p>
            <audio id="audio_2" src="audio/outputs-p0.5-h0.5/015.mp3" type="audio/mpeg" controls controlsList="nodownload">Your browser does not support the audio element.</audio>
            <a id="score_2" href="pdf/outputs-p0.5-h0.5/015.pdf" target="_blank">Score</a>
            <form id="form_2" style="margin-top:20px">
                <input type="radio" name="predict" value="val">Human
                <input type="radio" name="predict" value="outputs">Machine
            </form>
        </div>
    
        <div style="text-align:center; margin-top:20px">
            <p id="audio_name_3" style="text-align:left">Song 3</p>
            <audio id="audio_3" src="audio/outputs-p0.1-h0.5/015.mp3" type="audio/mpeg" controls controlsList="nodownload">Your browser does not support the audio element.</audio>
            <a id="score_3" href="pdf/outputs-p0.1-h0.5/015.pdf" target="_blank">Score</a>
            <form id="form_3" style="margin-top:20px">
                <input type="radio" name="predict" value="val">Human
                <input type="radio" name="predict" value="outputs">Machine
            </form>
        </div>
    
        <div style="text-align:center; margin-top:20px">
            <p id="audio_name_4" style="text-align:left">Song 4</p>
            <audio id="audio_4" src="audio/outputs-p0.9-h0.5/015.mp3" type="audio/mpeg" controls controlsList="nodownload">Your browser does not support the audio element.</audio>
            <a id="score_4" href="pdf/outputs-p0.9-h0.5/015.pdf" target="_blank">Score</a>
            <form id="form_4" style="margin-top:20px">
                <input type="radio" name="predict" value="val">Human
                <input type="radio" name="predict" value="outputs">Machine
            </form>
        </div>
    
        <div style="text-align:center; margin-top:20px">
            <p id="audio_name_5" style="text-align:left">Song 5</p>
            <audio id="audio_5" src="audio/outputs-p0.5-h0.9/015.mp3" type="audio/mpeg" controls controlsList="nodownload">Your browser does not support the audio element.</audio>
            <a id="score_5" href="pdf/outputs-p0.5-h0.9/015.pdf" target="_blank">Score</a>
            <form id="form_5" style="margin-top:20px">
                <input type="radio" name="predict" value="val">Human
                <input type="radio" name="predict" value="outputs">Machine
            </form>
        </div>

        
        <div style="text-align:center; margin-top:20px">
            <p id="audio_name_6" style="text-align:left">Song 6</p>
            <audio id="audio_6" src="audio/outputs-p0.1-h0.9/015.mp3" type="audio/mpeg" controls controlsList="nodownload">Your browser does not support the audio element.</audio>
            <a id="score_6" href="pdf/outputs-p0.1-h0.9/015.pdf" target="_blank">Score</a>
            <form id="form_6" style="margin-top:20px">
                <input type="radio" name="predict" value="val">Human
                <input type="radio" name="predict" value="outputs">Machine
            </form>
        </div>
        
        <div style="text-align:center; margin-top:20px">
            <p id="audio_name_7" style="text-align:left">Song 7</p>
            <audio id="audio_7" src="audio/outputs-p0.9-h0.9/015.mp3" type="audio/mpeg" controls controlsList="nodownload">Your browser does not support the audio element.</audio>
            <a id="score_7" href="pdf/outputs-p0.9-h0.9/015.pdf" target="_blank">Score</a>
            <form id="form_7" style="margin-top:20px">
                <input type="radio" name="predict" value="val">Human
                <input type="radio" name="predict" value="outputs">Machine
            </form>
        </div>

        <div style="text-align:center; margin-top:20px">
            <p id="audio_name_8" style="text-align:left">Song 8</p>
            <audio id="audio_8" src="audio/outputs-p0.5-h0.1/015.mp3" type="audio/mpeg" controls controlsList="nodownload">Your browser does not support the audio element.</audio>
            <a id="score_8" href="pdf/outputs-p0.5-h0.1/015.pdf" target="_blank">Score</a>
            <form id="form_8" style="margin-top:20px">
                <input type="radio" name="predict" value="val">Human
                <input type="radio" name="predict" value="outputs">Machine
            </form>
        </div>

        <div style="text-align:center; margin-top:20px">
            <p id="audio_name_9" style="text-align:left">Song 9</p>
            <audio id="audio_9" src="audio/outputs-p0.1-h0.1/015.mp3" type="audio/mpeg" controls controlsList="nodownload">Your browser does not support the audio element.</audio>
            <a id="score_9" href="pdf/outputs-p0.1-h0.1/015.pdf" target="_blank">Score</a>
            <form id="form_9" style="margin-top:20px">
                <input type="radio" name="predict" value="val">Human
                <input type="radio" name="predict" value="outputs">Machine
            </form>
        </div>

        <div style="text-align:center; margin-top:20px">
            <p id="audio_name_10" style="text-align:left">Song 10</p>
            <audio id="audio_10" src="audio/outputs-p0.9-h0.1/015.mp3" type="audio/mpeg" controls controlsList="nodownload">Your browser does not support the audio element.</audio>
            <a id="score_10" href="pdf/outputs-p0.9-h0.1/015.pdf" target="_blank">Score</a>
            <form id="form_10" style="margin-top:20px">
                <input type="radio" name="predict" value="val">Human
                <input type="radio" name="predict" value="outputs">Machine
            </form>
        </div>
        <div style="text-align:center; margin-top:20px; margin-bottom:20px" >
            <button onclick="judge();">Submit</button>                
        </div>
    </div>
</div>

<script lang="javascript">
    var audio_names = ['015', '016', '017', '035', '044', '068', '070', '076', '083', '088', '098', '100', '127', '160', '167', '172', '174', '180', '199', '205', '206', '215', '234', '256', '263', '269', '284', '297', '304', '308', '310', '313', '314', '323', '333', '344', '346', '352'];

    function show()
    {
        document.getElementById("test_part").removeAttribute("hidden");
        for (var i=1; i<=10; i++)
        {
            var form_id = "form_" + i.toString();
            document.getElementById(form_id)[0].checked=false;
            document.getElementById(form_id)[1].checked=false;
        }
        var x = 0; // Avoid all 0 or all 1 situations
        for (var i=1; i<=10; i++)
        {
            var audio_num = audio_names.length;
            var r1 = Math.round(Math.random()); // 0 or 1
            x += r1;
            if (i == 10 && (x == 0 || x == 10)) r1 = 1 - r1;
            var audio_path = "audio/"
            var pdf_path = "pdf/"
            var option = document.getElementById("options").value;
            if (r1 == 0) 
            {
                audio_path += "ground_truth/";
                pdf_path += "ground_truth/";
            }
            else
            {
                audio_path += option + "/";
                pdf_path += option + "/";
            }
            var r3 = Math.floor(Math.random()*audio_num);
            audio_path += audio_names[r3] + ".mp3"
            pdf_path += audio_names[r3] + ".pdf"
            var audio_name_id = "audio_name_" + i.toString();
            var audio_id = "audio_" + i.toString();
            var pdf_id = "score_" + i.toString();
            //document.getElementById(audio_name_id).innerHTML = audio_path;
            document.getElementById(audio_id).src = audio_path;
            // document.getElementById(pdf_id).innerHTML = "Score of " + audio_names[r3];
            document.getElementById(pdf_id).href = pdf_path;
        }
    }

    function judge()
    {
        var ans = new Array();
        var acc = 0
        for (var i=1; i<=10; i++)
        {
            var audio_id = "audio_" + i.toString();
            var form_id = "form_" + i.toString();
            var src = document.getElementById(audio_id).src;
            if (src.match("ground_truth")) ans[i] = "val";
            else ans[i] = "outputs";
            if (document.getElementById(form_id).predict.value == ans[i]) acc += 10;
        }
        var show_str = "Your accuracy: " + acc.toString() + "%\n";
        show_str += "The right answers are\n";
        for (var i=1; i<=10; i++)
        {
            if (ans[i] == "val") show_str += "Song " + i.toString() + ": " + "Human" + "\n";
            else show_str += "Song " + i.toString() + ": " + "Machine" + "\n";
        }
        alert(show_str);
    }
</script>
